@page "/listings"
@using WoBasar.Shared.Models
@using WoBasar.Web.Components
@inject HttpClient Http

<MudText Typo="Typo.h4" Class="mb-4">Aktuelle Anzeigen</MudText>

@if (listings == null)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <div class="listing-grid">
        @foreach (var item in listings)
        {
            <ListingCard Listing="item" />
        }
    </div>
}

@code {
    private List<MDLTest>? listings;

    protected override async Task OnInitializedAsync()
    {
        listings = await Http.GetFromJsonAsync<List<MDLTest>>("api/test");
    }
}